/* || General layout rules for narrow screens */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  /* background-color: black; */
}

body {
  width: 100%;
  height: inherit;
  background-color: white;
}

h1,
h2,
label {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black;
}

h1 {
  font-size: 1.5rem;
}

.wrapper {
  margin: 0 auto;
  height: 75%;
  width: 50%;
  padding: 25px;
  background-color: rgb(189, 189, 189);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* || main UI sections */

header {
  height: 80px;
}

canvas {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: -3px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.7), 0 3px 4px rgba(0, 0, 0, 0.7);
  /* background-color: gray; */
  width: 100%;
  height: 20%;
}

.controls {
  height: calc(80% - 100px);
}

/* || select element styling */

.controls div {
  width: 100%;
  padding-top: 1rem;
}

.controls label,
.controls select {
  display: block;
  margin: 0 auto;
}

.controls label {
  width: 100%;
  text-align: center;
  line-height: 3rem;
  padding: 1rem 0;
}

.controls select {
  width: 80%;
  font-size: 2rem;
}

/* || button styling */

button,
form a {
  background-color: #0088cc;
  background-image: linear-gradient(to bottom, #0088cc 0%, #0055cc 100%);
  text-shadow: 1px 1px 1px black;
  text-align: center;
  color: white;
  border: none;
  width: 50%;
  margin: 1rem auto 0.5rem;
  max-width: 80%;
  font-size: 1.6rem;
  line-height: 3rem;
  padding: 0.5rem;
  display: block;
}

button:hover,
button:focus,
form a:hover,
form a:focus {
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.7);
}

button:active,
form a:active {
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.7);
}

a#activated {
  background-color: #fff;
  background-image: linear-gradient(to bottom, #f00 0%, #a06 100%);
}

.mute {
  padding: 10px;
  /* margin: 15px; */
  text-align: center;
}

@media (max-width: 786px) {
  .wrapper {
    height: 75%;
    width: 75%;
    margin: 0 auto;
    padding: 50px;
  }
}

@media (min-width: 481px) {
  /*CSS for medium width screens*/

  /* || Basic layout changes for the main control buttons */
}

@media all and (min-width: 800px) {
  /*CSS for wide screens*/

  h1 {
    font-size: 3rem;
    /* padding-top: 2.5rem; */
  }

  /* Toggled State of information box */

  input[type='checkbox']:checked ~ aside {
    transform: translateX(-480px);
  }
}

@media (min-width: 1100px) {
  /*CSS for really wide screens*/
}
